<% 3.times do %>
<p>test</p>
<%end%>

<% grade = 97 %>
<% if grade > 50 %>
<p>you passed</p>
<%end%>

<%= 2+2 %>
<%= Time.now %>

<% [1,2,3,4,5].each do |num| %>
<p><%= num %>. bla</p>
<%end%>

<p>voila!</p>