<!--<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
  </head>
  -->
  <body>
    <h1>Welcome to my lovely Wikey!</h1>
  
    <p>Now you can <a href = "/new">create a webpage</a> baby!</p>
    <!--
  </body>
</html>-->
    <!--no need to apply it to every f page. so that you have page.erb-->